# Web framework
fastapi
uvicorn[standard]

# Utilities
python-dotenv
requests
python-multipart

# Audio / Media
pydub
audioop-lts
Pillow
imageio-ffmpeg
ffmpeg-python

# AI / APIs
openai
google-generativeai
supabase

# PDF / Docs Handling
pdfminer.six
reportlab
python-docx
